/* root elements css */
@import 'https://fonts.googleapis.com/css?family=Overlock:400,400i,700|Oleo+Script';
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
@import url(https://fonts.googleapis.com/css?family=Arvo:700);
/* header */

.root-grid{
  height: 100%;
  padding: 1vh;

}

.container{
  height: 100%;
  position: absolute;
  max-width: 100%;
}

.root{
  height: 100%;
}

.section-tags{
  height: 30%;
}

#home-background {
  width: 180vw;
  height: 170vh;
  position: fixed;
  top: -70vh;
  left: -50vw;
  z-index: -1;
}

.morph-path{
  animation-direction:alternate-reverse;
  animation: move_wave 10s linear infinite;
}

@keyframes move_wave {
    0% {
        transform: translateY(0) translateZ(1) scaleY(1)
    }
    50% {
        transform: translateY(-25%) translateZ(0) scaleY(0.55)
    }
    50% {
        transform: translateY(-15%) translateZ(0) scaleY(1)
    }
}

.about{
  font-size: 8vw;
  color:#fff;
  line-height: 8vh;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-size: 80% 100%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  
  100% {
    background-position-x: 500%;
  }
}


#about-tile{
  /* background-color: #000; */
  font-family: Nunito;  
  display: flex;
  word-break: break-word;
  line-height: 20vh;

}

.about-block{
  position: absolute;
  top:10%;
  width: 45vw;
  
}


.header-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  
}

.tiles{
  background-color: f8f9f4;
}


.projects{
  position: relative;
  text-align: center;
  color: white;
}

.menu {
  
  color: #000000;
  font-family: ochre;
  font-weight: bold;
  font-size: 5vw;
  line-height: 0.8em;
  z-index:0;
  margin:0;
  text-align: center;
}

.education-tile{
  top:20%;
  position: absolute;
  right: 5%;
  cursor: pointer;
}

.projects-tile{
  top:40%;
  position: absolute;
  right: 5%;
  cursor: pointer;
}
.contact-tile{
  top:60%;
  position: absolute;
  right: 5%;
  cursor: pointer;
}