<div class="carousel slide" id="education-slides" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#education-slides" data-slide-to="0" class="active"></li>
    <li data-target="#education-slides" data-slide-to="1"></li>
    <li data-target="#education-slides" data-slide-to="2"></li>
    <li data-target="#education-slides" data-slide-to="3"></li>
    <a class="carousel-control-prev arrow" href="#education-slides" role="button" data-slide="prev" #rightArrow (click)="animateArrow(rightArrow)">
      <!-- <fa-icon [styles]="{'stroke':'black', 'color':'black'}" size="3x" class="acheivements" [icon]="faCaretLeft"></fa-icon> -->
      <i></i>
      <svg>
        <use xlink:href="#circle"/>
      </svg>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next arrow left" href="#education-slides" #leftArrow role="button" data-slide="next" (click)="animateArrow(leftArrow)">
      <!-- <fa-icon [styles]="{'stroke':'black', 'color':'black'}" class="acheivements" size="3x" [icon]="faCaretRight"></fa-icon> -->
      <i></i>
      <svg>
        <use xlink:href="#circle"/>
      </svg>
      <span class="sr-only">Next</span>
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="44px" height="44px" id="circle" fill="none" stroke="currentColor">
            <circle r="20" cy="22" cx="22" id="test"></circle>
        </symbol>
      </svg>
        <!-- <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="44px" height="44px" id="circle" fill="none" stroke="currentColor">
            <circle r="20" cy="22" cx="22" id="test">
        </symbol>
    </svg> -->

    </a>

  </ol>


  <div class="carousel-inner">
    <div class="sidebar-heading">
      <h2 class="background"><span>EDUCATION</span></h2>
      <div class="cross-line">
      </div>
    </div>
    <div class="carousel-item active">
      <div id = "educations-slides" style="background: url('assets/images/child.png')" class="page-holder bg-cover">
        <div id="leaves">
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
        </div>
        <div class="container" id="school">
          <div class="row">
            <h2 class="name">S.T.B.E.M HIGH SCHOOL</h2>
          </div>
          <div class="row">
            <div class="description">
              <p><fa-icon class="acheivements" [icon]="faTrophy"></fa-icon>School second in SSC Public Exams.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 d-flex p-0">
              <p>2000-2012</p>
            </div>
            <div class="col-sm-4 d-flex p-0 float-right">
              <p>9.7 G.P.A</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
        <div style="background: url('assets/images/high-school.jpg')" class="page-holder bg-cover">
            <div class="container" id="school">
                <div class="row">
                  <h2 class="name">NARAYANA JUNIOR COLLEGE</h2>
                </div>
                <div class="row">
                  <!-- <div class="description">
                    <p>We'll blah blah blah here. So blah blah had to be entered here, which need to filled
                    </p>
                  </div> -->
                </div>
                <div class="row">
                  <div class="col-sm-4 d-flex p-0">
                    <p>2000-2012</p>
                  </div>
                  <div class="col-sm-4 d-flex p-0 float-right">
                    <p>9.7 G.P.A</p>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="page-holder bg-cover undergraduate">
            <div class="container" id="school">
                <div class="row">
                  <h2 class="name">SRK INSTITUE OF TECHNOLOGY</h2>
                </div>
                <div class="row">
                  <div class="description">
                    <p><fa-icon class="acheivements" [icon]="faMedal"></fa-icon>Best Outgoing Student</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4 d-flex p-0">
                    <p>2000-2012</p>
                  </div>
                  <div class="col-sm-4 d-flex p-0 float-right">
                    <p>9.7 G.P.A</p>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="carousel-item">
      <div style="background: url('assets/images/graduation - Copy.jpg')" class="page-holder bg-cover">
          <div class="container" id="school">
            <div class="row">
              <h2 class="name">University at Buffalo</h2>
            </div>
            <div class="row">
              <div class="col-sm-4 d-flex p-0">
                <p>2022-2023</p>
              </div>
              <div class="col-sm-4 d-flex p-0 float-right">
                <p>3.8 G.P.A</p>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
