.page-holder {
  min-height: 100%;
  min-width: 100%;
}

.bg-cover {
  background-position:100% 100%  !important;
  background-repeat: no-repeat !important;
}

/* leaf animations */
#education-slides {
  position: relative;

}

.sidebar-heading {
  height: 100%;
  top: 0%;
  width: 10vw;
  background-color: #000;
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: center;
}

.sidebar-heading h2{
        font: 33px sans-serif;
        text-align: center;
        text-transform: uppercase;
        writing-mode: vertical-rl;
        text-orientation: mixed;
}

.sidebar-heading h2.background {
    position: relative;
    z-index: 1;
}

.sidebar-heading span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    padding: 0 15px;
    color: white;
    background-color: black;
    font-size: xxx-large;
}

.cross-line{
    width: 0.3vw;
    position: relative;
    vertical-align: middle;
    height: 100%;
    background-color:white;
    left: -1.5vw;
}


/* .sidebar-heading .heading-content h2:after{
    content: "";
    position: absolute;
    left: 50%;
    width: 2vh;
    border-top: solid 20vh white;
    z-index: 10;
}

.sidebar-heading .heading-content h2:before{
    content: "";
    position: absolute;
    left: 50%;
    width: 2vh;
    border-top: solid 20vh white;
    z-index: 10;
} */

#leaves {
  position: relative;
  /* top:60vh; */
  width: 100%;
  text-align: right;
  right: 30vw
}

#leaves i {
  display: inline-block;
  width: 10vw;
  height: 1vh;
  background: linear-gradient(to bottom right, #000, #000);
  transform: skew(20deg);
  border-radius: 5% 40% 70%;
  box-shadow: inset 0px 0px 1px #000;
  border: 1px solid #000;
  z-index: 1;
  animation: falling 5s 0s infinite;
}

#leaves i:nth-of-type(2n) {
  animation: falling2 5s 0s infinite;
}

#leaves i:nth-of-type(3n) {
  animation: falling3 5s 0s infinite;
}

#leaves i:before {
  position: absolute;
  content: '';
  top: 10vh;
  right: 1vw;
  height: 2vh;
  width: 3vw;
  transform: rotate(49deg);
  border-radius: 0% 15% 15% 0%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 0px solid #000;
  border-right: 1px solid #000;
  background: linear-gradient(to right, #000, #000);
  z-index: 1;
}

#leaves i:after {
  content: '';
  height: 10vh;
  width: 1vw;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  display: block;
  transform: rotate(125deg);
  position: absolute;
  left: 8vw;
  border-radius: 50%;
}


#leaves i:nth-of-type(n) {
  height: 3vh;
  width: 2vw;
}

#leaves i:nth-of-type(n):before {
  width: 1vw;
  height: 0.5vh;
  top: 2vh;
  right: 0.1vw;
}

#leaves i:nth-of-type(n):after {
  width: 0.2vw;
  height: 2vh;
  left: 1.5vw;
  top: 0vh;
}

#leaves i:nth-of-type(2n+1) {
  height: 1.5vh;
  width: 2vw;
}

#leaves i:nth-of-type(2n+1):before {
  width: 0.5vw;
  height: 0.1vh;
  top: 7px;
  right: 0px;
}

#leaves i:nth-of-type(2n+1):after {
  width: 2px;
  height: 6px;
  left: 5px;
  top: 1px;
}

/* #leaves i:nth-of-type(3n+2)  { height:17px; width:23px; }
  #leaves i:nth-of-type(3n+2):before  { height:4px; width:4px; top:12px; right:1px; }
  #leaves i:nth-of-type(3n+2):after  { height:10px; width:2px; top:1px; left:8px; }
   */
#leaves i:nth-child(n) {
  animation-delay: 0.1s;
}

#leaves i:nth-of-type(2n) {
  animation-delay: 1.9s;
}

#leaves i:nth-of-type(3n) {
  animation-delay: 2.3s;
}

#leaves i:nth-of-type(4n) {
  animation-delay: 4.4s;
}

#leaves i:nth-of-type(5n) {
  animation-delay: 5s;
}

#leaves i:nth-of-type(6n) {
  animation-delay: 3.5s;
}

#leaves i:nth-of-type(7n) {
  animation-delay: 2.8s;
}

#leaves i:nth-of-type(8n) {
  animation-delay: 1.5s;
}

#leaves i:nth-of-type(9n) {
  animation-delay: 3.3s;
}

#leaves i:nth-of-type(n) {
  background: linear-gradient(to bottom right, #000, #000);
}

#leaves i:nth-of-type(2n+2) {
  background: linear-gradient(to bottom right, #000, #000);
}

#leaves i:nth-of-type(4n+1) {
  background: linear-gradient(to bottom right, #000, #000);
}

/* #leaves i:nth-of-type(n)    { opacity: 1;}
  #leaves i:nth-of-type(3n+1)  { opacity: .5;}
  #leaves i:nth-of-type(3n+2)  { opacity: .3;}
   */
#leaves i:nth-of-type(n) {
  transform: rotate(180deg);
}


#leaves i:nth-of-type(n) {
  animation-timing-function: ease-in-out;
}

@keyframes falling {

  0% {
    transform:
      translate3d(3px, 0, 0) rotate(0deg);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform:
      translate3d(150px, 95vh, 0) rotate(90deg);
    opacity: 0;
  }
}

@keyframes falling3 {
  0% {
    transform:
      translate3d(0, 0, 0) rotate(-20deg);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform:
      translate3d(-230px, 95vh, 0) rotate(-70deg);
    opacity: 0;
  }
}

@keyframes falling2 {
  0% {
    transform:
      translate3d(0, 0, 0) rotate(90deg);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform:
      translate3d(-40vw, 95vh, 0) rotate(0deg);
    opacity: 0;
  }
}

#school {
  position: relative;
  top: 30vh;
  z-index: 200;
  margin: 0;
  left: 12%;
  width:35vw;
}

#school .name {
  font-size: 3vw;
  text-transform: capitalize;
  line-height:1;
}

.description {
  width: 30vw;
  opacity: 0.7;
  font-family: PlayfairDisplay;
  line-height: 1;
  font-size: 1.5vw;
}

.carousel,
.item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-indicators{
  bottom: 10%;
}

.carousel .carousel-indicators li {

  background-color: #000;
  border: 1px solid;
  border-radius: 12px;
  width: 12px;
  height: 12px;
}

.carousel .carousel-indicators .active {
  background-color: #000;
  border: 1px solid ;
  border-radius: 12px;
  width: 12px;
  height: 12px;
}

.acheivements{
  margin-right: 10px;
}

.carousel-control-prev{
  left:6.5vw;
  top:-3vh;
}
.carousel-control-next{
  right: 16vw;
  top: -3vh;
}

.school-background{
  background: url('assets/images/child.png');
  animation: animatedBackground 1s linear;
  background-position: 0 0;
}

@keyframes animatedBackground{
  0%{background-position:0 0;}
  100%{background-position: 0 100vh;}
}

.arrow {
  --active: #000;
  --border:#000;
  display: block;
  position: relative;
  width: 44px;
  height: 44px;
}
.arrow.left {
  transform: scaleX(-1);
}
.arrow i {
  display: block;
  position: absolute;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
}
.arrow i:before, .arrow i:after {
  content: '';
  width: 10px;
  height: 2px;
  border-radius: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: var(--active);
  margin: -1px 0 0 -5px;
  display: block;
  transform-origin: 9px 50%;
}
.arrow i:before {
  transform: rotate(-40deg);
}
.arrow i:after {
  transform: rotate(40deg);
}
.arrow:before, .arrow:after {
  content: '';
  display: block;
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 50%;
  border: 2px solid var(--border);
}
.arrow svg {
  width: 44px;
  height: 44px;
  display: block;
  position: relative;
  z-index: 1;
  color: var(--active);
  stroke-width: 2px;
  stroke-dashoffset: 126;
  stroke-dasharray: 126 126 0;
  transform: rotate(0deg);
}
.arrow.animate svg {
  animation: stroke 1s ease forwards 0.3s;
}
.arrow.animate i {
  animation: arrow 1.6s ease forwards;
}
.arrow.animate i:before {
  animation: arrowUp 1.6s ease forwards;
}
.arrow.animate i:after {
  animation: arrowDown 1.6s ease forwards;
}

.undergraduate{
  background: url('assets/images/undergraduate-copy.jpg');
  background-size: 600px 600px;
}

@keyframes stroke {
  52% {
    transform: rotate(-180deg);
    stroke-dashoffset: 0;
 }
  52.1% {
    transform: rotate(-360deg);
    stroke-dashoffset: 0;
 }
  100% {
    transform: rotate(-180deg);
    stroke-dashoffset: 126;
 }
}
@keyframes arrow {
  0%, 100% {
    transform: translateX(0);
    opacity: 1;
 }
  23% {
    transform: translateX(17px);
    opacity: 1;
 }
  24%, 80% {
    transform: translateX(-22px);
    opacity: 0;
 }
  81% {
    opacity: 1;
    transform: translateX(-22px);
 }
}
@keyframes arrowUp {
  0%, 100% {
    transform: rotate(-40deg) scaleX(1);
 }
  20%, 80% {
    transform: rotate(0deg) scaleX(0.1);
 }
}
@keyframes arrowDown {
  0%, 100% {
    transform: rotate(40deg) scaleX(1);
 }
  20%, 80% {
    transform: rotate(0deg) scaleX(0.1);
 }
}
.demo {
  display: grid;
  grid-template-columns: repeat(2, 44px);
  grid-gap: 32px;
}

/* For tablets and medium-sized screens */
@media (max-width: 992px) {
  .sidebar-heading h2 {
    font-size: 25px;
  }

  .sidebar-heading span {
    font-size: x-large;
  }

  #school .name {
    font-size: 2.5vw;
  }

  .description {
    font-size: 1.2vw;
  }
  #leaves {
    right: 10vw;
  }
}

/* For mobile and small-sized screens */
@media (max-width: 768px) {
  .sidebar-heading h2 {
    font-size: 18px;
  }

  .sidebar-heading span {
    font-size: large;
  }

  #school .name {
    font-size: 5vw;
  }

  .description {
    font-size: 3vw;
  }
  #leaves {
    right: 5vw;
  }
}

@media screen and (max-width: 576px) {
  .sidebar-heading {
    width: 30vw;
  }

  .cross-line {
    left: -4.5vw;
  }

  #leaves {
    right: 2vw;
  }
}

/* For very small screens or landscape mobile view */
@media (max-width: 480px) {
  .sidebar-heading h2 {
    font-size: 14px;
  }

  .sidebar-heading span {
    font-size: medium;
  }

  #school .name {
    font-size: 6vw;
  }

  .description {
    font-size: 4vw;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  .responsive-bg {
    background-size: 100% auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .responsive-bg {
    background-size: cover;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .responsive-bg {
    background-size: cover;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .responsive-bg {
    background-size: cover;
  }
}
