.page-holder {
  min-height: 100%;
  min-width: 100%;
}

.bg-cover {
  background-position:100% 100%  !important;
  background-repeat: no-repeat !important;
}

/* leaf animations */
#education-slides {
  position: relative;
  
}

.sidebar-heading {
  height: 100%;
  top: 0%;
  width: 10vw;
  background-color: #000;
  z-index: 10;
  position: absolute;
  display: flex; 
  justify-content: center;
}

.sidebar-heading h2{
        font: 33px sans-serif;
        text-align: center;
        text-transform: uppercase;
        writing-mode: vertical-rl;
        text-orientation: mixed;
}

.sidebar-heading h2.background {
    position: relative;
    z-index: 1;
}

.sidebar-heading span { 
    /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
    padding: 0 15px; 
    color: white;
    background-color: black;
    font-size: xxx-large;
}

.cross-line{
    width: 0.3vw;
    position: relative;
    vertical-align: middle;
    height: 100%;
    background-color:white;
    left: -1.5vw;
}


/* .sidebar-heading .heading-content h2:after{
    content: "";
    position: absolute;
    left: 50%;
    width: 2vh;
    border-top: solid 20vh white;
    z-index: 10;
}

.sidebar-heading .heading-content h2:before{
    content: "";
    position: absolute;
    left: 50%;
    width: 2vh;
    border-top: solid 20vh white;
    z-index: 10;
} */

#leaves {
  position: relative;
  /* top:60vh; */
  width: 100%;
  text-align: right;
  right: 30vw
}

#leaves i {
  display: inline-block;
  width: 10vw;
  height: 1vh;
  background: linear-gradient(to bottom right, #000, #000);
  transform: skew(20deg);
  border-radius: 5% 40% 70%;
  box-shadow: inset 0px 0px 1px #000;
  border: 1px solid #000;
  z-index: 1;
  -webkit-animation: falling 5s 0s infinite;
}

#leaves i:nth-of-type(2n) {
  -webkit-animation: falling2 5s 0s infinite;
}

#leaves i:nth-of-type(3n) {
  -webkit-animation: falling3 5s 0s infinite;
}

#leaves i:before {
  position: absolute;
  content: '';
  top: 10vh;
  right: 1vw;
  height: 2vh;
  width: 3vw;
  transform: rotate(49deg);
  border-radius: 0% 15% 15% 0%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 0px solid #000;
  border-right: 1px solid #000;
  background: linear-gradient(to right, #000, #000);
  z-index: 1;
}

#leaves i:after {
  content: '';
  height: 10vh;
  width: 1vw;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  display: block;
  transform: rotate(125deg);
  position: absolute;
  left: 8vw;
  border-radius: 50%;
}


#leaves i:nth-of-type(n) {
  height: 3vh;
  width: 2vw;
}

#leaves i:nth-of-type(n):before {
  width: 1vw;
  height: 0.5vh;
  top: 2vh;
  right: 0.1vw;
}

#leaves i:nth-of-type(n):after {
  width: 0.2vw;
  height: 2vh;
  left: 1.5vw;
  top: 0vh;
}

#leaves i:nth-of-type(2n+1) {
  height: 1.5vh;
  width: 2vw;
}

#leaves i:nth-of-type(2n+1):before {
  width: 0.5vw;
  height: 0.1vh;
  top: 7px;
  right: 0px;
}

#leaves i:nth-of-type(2n+1):after {
  width: 2px;
  height: 6px;
  left: 5px;
  top: 1px;
}

/* #leaves i:nth-of-type(3n+2)  { height:17px; width:23px; }
  #leaves i:nth-of-type(3n+2):before  { height:4px; width:4px; top:12px; right:1px; }
  #leaves i:nth-of-type(3n+2):after  { height:10px; width:2px; top:1px; left:8px; }
   */
#leaves i:nth-of-type(n) {
  -webkit-animation-delay: 0.1s;
}

#leaves i:nth-of-type(2n) {
  -webkit-animation-delay: 1.9s;
}

#leaves i:nth-of-type(3n) {
  -webkit-animation-delay: 2.3s;
}

#leaves i:nth-of-type(4n) {
  -webkit-animation-delay: 4.4s;
}

#leaves i:nth-of-type(5n) {
  -webkit-animation-delay: 5s;
}

#leaves i:nth-of-type(6n) {
  -webkit-animation-delay: 3.5s;
}

#leaves i:nth-of-type(7n) {
  -webkit-animation-delay: 2.8s;
}

#leaves i:nth-of-type(8n) {
  -webkit-animation-delay: 1.5s;
}

#leaves i:nth-of-type(9n) {
  -webkit-animation-delay: 3.3s;
}

#leaves i:nth-of-type(n) {
  background: linear-gradient(to bottom right, #000, #000);
}

#leaves i:nth-of-type(2n+2) {
  background: linear-gradient(to bottom right, #000, #000);
}

#leaves i:nth-of-type(4n+1) {
  background: linear-gradient(to bottom right, #000, #000);
}

/* #leaves i:nth-of-type(n)    { opacity: 1;}
  #leaves i:nth-of-type(3n+1)  { opacity: .5;}
  #leaves i:nth-of-type(3n+2)  { opacity: .3;}
   */
#leaves i:nth-of-type(n) {
  transform: rotate(180deg);
}


#leaves i:nth-of-type(n) {
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes falling {

  0% {
    -webkit-transform:
      translate3d(300, 0, 0) rotate(0deg);
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform:
      translate3d(150px, 95vh, 0) rotate(90deg);
    opacity: 0;
  }
}

@-webkit-keyframes falling3 {
  0% {
    -webkit-transform:
      translate3d(0, 0, 0) rotate(-20deg);
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform:
      translate3d(-230px, 95vh, 0) rotate(-70deg);
    opacity: 0;
  }
}

@-webkit-keyframes falling2 {
  0% {
    -webkit-transform:
      translate3d(0, 0, 0) rotate(90deg);
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform:
      translate3d(-40vw, 95vh, 0) rotate(0deg);
    opacity: 0;
  }
}

#school {
  position: relative;
  top: 30vh;
  z-index: 200;
  margin: 0;
  left: 12%;
}

#school .name {
  font-size: 3vw;
  text-transform: capitalize;
}

.description {
  width: 30vw;
  opacity: 0.7;
  font-family: PlayfairDisplay;
  line-height: 3vh;
}

.carousel,
.item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-indicators{
  bottom: 10%;
}

.carousel .carousel-indicators li {

  background-color: #000;
  border: 1px solid;
  border-radius: 12px;
  width: 12px;
  height: 12px;
}

.carousel .carousel-indicators .active {
  background-color: #000;
  border: 1px solid ;
  border-radius: 12px;
  width: 12px;
  height: 12px;
}
