/* .body{ 
  background-color: #F4DECB;
  height: 100%;
} */

.container-fluid::-webkit-scrollbar {
  display: none;
}

#animated-cards .card-header {
  height: 15vh;
  background-color: #64348A;
}

#animated-cards .heading-card {
  font-size: 3.5vh;
}

#animated-cards .cardheader-text {
  color: #fff;
  position: absolute;
  text-align: center;
  width: 90%;
  padding: 1rem;
}

#animated-cards .card.cards-shadown {
  box-shadow: 2px 2px 9px 2px #64348a;
}

#animated-cards .col {
  padding: 20px 7px 0px 7px;
}

/* Card Hover Scale & Effect */

#animated-cards .card:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 1200ms;
  z-index: 99;
}

#animated-cards .card {
  transition: all 1200ms;
  height: 50vh;
  z-index: 20;
  position: relative;
  width: 55vh;
}

/* Color on hover */

#animated-cards .card-header:first-child:hover {
  background-color: #64348A;
}

#animated-cards .card:hover .card-header:first-child {
  background-color: #64348A;
}

/* CSS to change Default/'Accent' color */

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #64348A;
  /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #64348A;
  /*replace with your color*/
}

.technologies ul {
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  display: contents;
}

.technologies ul li {
  list-style: none;
  float: left;
  margin: 1vh;
  text-align: center;
  background: #B09CDB;
  border-radius: 50%;
  font-size: 50px;
  position: relative;
  transition: .5s ease-in-out;
  color: #64348A;
  z-index: 1
}

.technologies ul li a {
  width: 10vh;
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  font-size: 3vh;
  display: inline-block;
  vertical-align: middle;
  transition: .5s;
  overflow: hidden;
}

.technologies ul li:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #64348A;
  border-radius: 50%;
  transform: scale(0);
  transition: .5s ease-in-out;
  z-index: -1;
}

.technologies ul li:hover:before {
  transform: scale(.9);
}

.technologies ul li:hover {
  color: #B09CDB;
}

.tech-txt {
  margin: 5px;
}

/* Duration */


#duration .row .block .circle {
  border-radius: 7.5vh;
  width: 10vh;
  height: 10vh;
  border-width: thick;
  border-color: #DEDEDE;
  border-style: solid;
  position: absolute;
}

#duration .top-outer-circle {
  border-radius: 0vh !important;
  width: 10vh !important;
  height: 5vh !important;
  border-top-left-radius: 7.5vh !important;
  border-top-right-radius: 7.5vh !important;
  border: 2vh solid #64348A !important;
  border-bottom: 0 !important;
  z-index: 9;
}

#duration .right-outer-circle {
  border-radius: 0vh !important;
  width: 5vh !important;
  border: 2vh solid #64348A !important;
  z-index: 9;
  left: 7vh;
  border-top-right-radius: 7.5vh !important;
  border-bottom-right-radius: 7.5vh !important;
  border-left: 0 !important;
}


#duration p {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#duration .col-lg-3 {
  margin-right: 2vh;
}
