<div class="container-fluid mt-4">
  <div class="row text-center" style="justify-content: center; align-items: center;">
    <h2 class="text-uppercase section-heading">Projects</h2>
  </div>
  <div class="row mb-3">
    <!-- change it to toggle between icon and text graphically -->
    <div class="col d-flex align-items-end flex-column">
      <mat-slide-toggle  [(ngModel)]="displayIcons">Text</mat-slide-toggle>
    </div>
    
  </div>
  <div class="row">
    <div class="d-flex flex-row flex-nowrap" id="animated-cards">
      <div class="col-auto mb-3" *ngFor="let project of projects; let cardIndex = index">
        <div class="card cards-shadown cards-hover">
          <div class="card-header">
            <div class="row">
              <div class="cardheader-text">
                <h1 id="heading-card-1" class="heading-card">{{project.projectName}}</h1>
              </div>
            </div>
  
          </div>
          <div class="card-body">
            <div class="container">
              <ul ngbNav #nav="ngbNav" class="nav-tabs" id="bologna-list" role="tablist">
                <li [ngbNavItem]="tabIndex" *ngFor="let id of projectDetailsId; let tabIndex = index">
                  <a ngbNavLink>{{id}}</a>
                  <ng-template ngbNavContent>
                    <!-- Technologies block -->
                    <div *ngIf="id == 'Technologies'">
                      <!-- display text -->
                      <div *ngIf="!displayIcons">
                        <div class="row icon-row" ngClass="technologies">
                          <ul>
                            <li class="col-xs-6" *ngFor="let icon of project.technicalIcons">
                              <a>
                                <mat-icon [svgIcon]="icon.toLocaleLowerCase()" role="img"></mat-icon>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- display Icons -->
                      <div *ngIf="displayIcons">
                        <div class="row tech-txt" id=''>
                          <mat-chip-list aria-label="Fish selection">
                            <mat-chip [ngStyle]="{'background-color':'#64348A'}" selected
                              *ngFor="let technology of project.technologiesUsed">{{technology}}</mat-chip>
                          </mat-chip-list>
                        </div>
                      </div>
  
                    </div>
                    <!-- Description Block -->
                    <div *ngIf="id == 'Description'">
                      <p>{{project.description}}</p>
                    </div>
                    <!-- Project duration block -->
                    <div *ngIf="id == 'Duration'">
                      <div id="duration" class="container">
                        <div class="row " style='margin-bottom:4vh' id="from-date">
                          <div class="col-lg-3 block">
                            <div class="circle">
                              <p>{{project.fromDate.split('/')[0]}}</p>
                            </div>
                            <div class="circle top-outer-circle "></div>
                          </div>
                          <div class="col-lg-3 block">
                            <div class="circle">
                              <p>{{project.fromDate.split('/')[1]}}</p>
                            </div>
                            <div class="circle right-outer-circle "></div>
                          </div>
                          <div class="col-lg-3">
                            <p>From Date</p>
                          </div>
                        </div>
                        <div class="row" id="to-date" *ngIf="project.toDate != ''">
                          <div class="col-lg-3 block" id="month">
                            <div class="circle"><p>{{project.toDate.split('/')[0]}}</p></div>
                            <div class="circle top-outer-circle" ></div>
                          </div>
                          <div class="col-lg-3 block" id="year">
                            <div class="circle"><p>{{project.toDate.split('/')[1]}}</p></div>
                            <div class="circle right-outer-circle "></div>
                          </div>
                          <div class="col-lg-3">
                            <p>To Date</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  
</div>
