/* .body{ 
  background-color: #F4DECB;
  height: 100%;
} */
section{
  background-color: #F4DECB;
}
#animated-cards .card-header {
    height: 250px;
    background-color:#64348A;
  }
  
  #animated-cards .service-icon {
    color: black;
    opacity: 0.4;
    font-size: 35px;
  }

  #animated-cards .row{
    padding: 10px;
    margin-bottom: 10px;
  }
  #animated-cards .heading-card {
    font-size: 25px;
  }
  
  #animated-cards .cardheader-text {
    color: #fff;
    top:20%;
    position: absolute;
    text-align: center;
    width: 90%;
    padding: 1rem;
  }
  
  #animated-cards .card-text.sub-text-color {
    color: #8c8c8c;
  }
  
  #animated-cards .card-text:last-child {
    font-size: 30px;
    color: #595959;
  }
  
  #animated-cards .cardheader-subtext {
    font-size: 20px;
  }
  
  #animated-cards .card.cards-shadown {
    box-shadow: 2px 2px 20px 3px #64348a;
  }
  
  #animated-cards {
    margin: 40px;
  }
  
  #animated-cards .col {
    padding: 20px 7px 0px 7px;
  }
  
  /* Card Hover Scale & Effect */
  
  #animated-cards .card:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 1200ms;
    z-index: 99;
  }
  
  #animated-cards .card {
    transition: all 1200ms;
    height: 100%;
    z-index: 20;
    position: relative;
    width: 300px;
  }

  #animated-cards .col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 30%;
  }
  
  #animated-cards 

  /* Color on hover */
  
  #animated-cards .card-header:first-child:hover {
    background-color: #64348A;
  }
  
  #animated-cards .card:hover .card-header:first-child {
    background-color: #64348A;
  }
  
  /* Icons */
  
  #animated-cards .card:hover .service-icon {
    -webkit-transform: translateX(10px) translateY(10px) scale(1.3);
    -moz-transform: translateX(10px) translateY(10px) scale(1.3);
    -o-transform: translateX(10px) translateY(10px) scale(1.3);
    -ms-transform: translateX(10px) translateY(10px) scale(1.3);
    transform: translateX(10px) translateY(10px) scale(1.3);
    transition: all 1200ms;
  }
  
  #animated-cards .card .service-icon {
    transition: all 1200ms;
  }
  
  /* #animated-cards .card-body{
    display: none;
  }
  
  #animated-cards .card:hover > .card-body {
    display: block;
  }
   */
  .tech-png-container{
    position: relative;
    width: 50%;
  }

  /* img {
    display: block;
    width: 30%;
    height: auto;
  } */
  .overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  .tech-png-container:hover .overlay {
    width: 100%;
    left: 0;
  }
  
  .icon-text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

 #animated-cards .card-header-tabs{
   margin-left: -0.625rem;
   margin-bottom: 0rem;
 }
  /* CSS to change Default/'Accent' color */

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: yellow; /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: yellow;  /*replace with your color*/
}

/* ul {
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  display: contents;
}

ul li {
  list-style: none;
  float: left;
  margin: 10px;
  text-align: center;
  background: #B09CDB;
  border-radius: 50%;
  font-size: 50px;
  position: relative;
  transition: .5s ease-in-out;
  color: #64348A;
  z-index: 1

}

ul li a {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 32px;
  display: inline-block;
  vertical-align: middle;
  transition: .5s;
  overflow: hidden;
  
}

ul li:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #64348A;
  border-radius: 50%;
  transform: scale(0);
  transition: .5s ease-in-out;
  z-index: -1;
}
ul li:hover:before {
  transform: scale(.9);
}
ul li:hover {
  color: #B09CDB;
}

 */
